<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <header class="container">
            Header
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Categorias</li>
                    <li>Dashboard</li>
                </ul>
            </nav>
        </header>
    </div>
    <div>
        <aside>Menu</aside>
    </div>
    <div>
        <footer>
            <p>Footer</p>
        </footer>
    </div>
</body>
</html>